*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
.gradle/
build/
**/build/

local.properties

.idea/
*.ipr
*.iws

*.log

.DS_Store
Thumbs.db

*.apk
*.aab

*.kotlin_module

.cxx/